@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */

  --color-red-400: #dd3333;
  --color-red-200: #ff0000;
  --color-black-1000: #000000;
  --color-black-500: #7f7f7f;
  /* --color-yellow-500: #d9b900; */
  /* --color-orange-500: #d97400; */
  --color-white: #ffffff;
  --color-amber-200: #fee685;
  --color-green-200: #b9f8cf;

  /* Body margin */
  --margin-x-axis: 5vw;
  --margin-y-axis: 5%;

  /* Main margin */
  --main-margin-x-axis: 1vw;

  /* RADIUS VALUES */
  --radius-tags: 5px;
  --radius-icons: 10px;
  --radius-CTA: 50px;

  --radius-medium: 15px;
  --radius-pill: 100%;

  /* FONTS */
  --font-sans: "inter-variable", sans-serif;

  /* Gaps */
  --gap-small: 5px;
  --gap-medium: 10px;
  --gap-large: 15px;
}

@theme inline {
  /* TOKENS */

  /* TEXT TOKENS */
  --font-color-primary: var(--color-red-400);

  /* CTAs */
  --cta-background-active: var(--color-red-400);
  --cta-background-inactive: var(--color-black-500);
  --cta-text-primary: var(--color-white);

  /* FOR BUTTONS UNDER CATEGORY left/right menu */
  --cta-background: var(--color-white);
  --cta-text-secondary: var(--color-gray-800);
  --cta-category-hover: var(--color-gray-300);

  --category-background: var(--color-white);

  /* TAGS */
  --tag-discount-bg: var(--color-yellow-500);
  --tag-preorder-bg: var(--color-orange-500);
  --tag-text-color: var(--color-black-1000);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  .body-x-margin {
    margin-left: var(--margin-x-axis);
    margin-right: var(--margin-x-axis);
  }

  .body-y-margin {
    margin-top: var(--margin-y-axis);
    margin-bottom: var(--margin-y-axis);
  }

  .main-x-margin {
    margin-left: var(--main-margin-x-axis);
    margin-right: var(--main-margin-x-axis);
  }

  @layer utilities {
  }

  .category-cta {
    background-color: var(--cta-background);
    border-bottom: 1px solid var(--color-red-400);
    padding-bottom: var(--gap-small);
  }

  .category-btn {
    border-radius: var(--radius-medium);
  }

  .category-cta-gap {
    margin-top: var(--gap-medium);
    margin-bottom: var(--gap-medium);
  }
}
