---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Indkøb fra private">

<section class="flex flex-col gap-3">
<Heading weight="bold">Inkøb af spil fra private </Heading>
<div class="flex flex-col gap-1">
<Heading weight="bold" size="small">VI KØBER IKKE IND FRA KUNDER I JUNI 2026 PGA LAV BEMANDING I DENNE MÅNED</Heading>
<Text>Send gerne en mail til kontakt@nintendopusheren.dk med billede(r) af de ting, som man vil sælge</Text>
</div>
</section>

<section class="flex flex-col gap-3 mt-5">
<Heading weight="bold">Hvad vi tilbyder fra hvad du sælger</Heading>
<Text>Vi køber dine brugte spil og konsoller. Vi tilbyder enten penge eller  bytteværdi til andet i butikken. Eller en kombination af dem.  Bytteprisen er 25% højere end kontantprisen.</Text>
</section>

<section class="flex flex-col gap-3 mt-5">
<Heading weight="bold">Hvad der kan forventes når vi køber fra dig</Heading>

<div class="flex flex-col gap-3">
<Text>- Vi køber billigere end vi sælger for. Det er sådan en butik fungerer.</Text>
<Text>- Send gerne et eller flere billeder af tingene på  forhånd for at vi kan vurdere om det er noget, som vi er interesserde i  og evt give et overslag på. Det er ikke alt, som vi køber ind.</Text>
<Text>- Vi forbeholder os retten til at takke nej til køb  eller tilbyde at plukke dele ud. Det er selvfølgelig ærgeligt, at man  skal tage sine ting med hjem igen, men sådan er det. Vi har ikke  kapacitet til at tage imod alt. </Text>
<Text>- Vi byder det, som vi mener er en fair pris. Efter 10  år i brugtspilbranchen har vi gjort en del erfaringer med videresalg,  som vi synes retfærdiggør det, som vi tilbyder.</Text>
<Text>- Der bliver bl.a. kigget på lagerstatus af den enkelte enhed,  salgsbarhed/salgshistorik, stand og det arbejde, der ligger i  efterfølgende at sætte varerne til salg.</Text>
<Text>- Vi kan ikke love at komme med en vurdering med det samme afhængigt af  hvor travlt her er, men vi gør et forsøg, hvis der er tid og luft til  det. Man kan dog godt indlevere sine ting og lægge sit nummer og så  vender vi tilbage når der er tid.</Text>
</div>

</section>

<section class="flex flex-col gap-3 mt-5">
<Heading weight="bold">Udgifter siden vi er en privat buik</Heading>
<Text>- Vi skal betale skat og moms, betale en medarbejder for at bruge tid  til at vurdere, teste, rense, evt slibe discs, evt reparere, tage  billeder, sætte på plads og hvad der ellers er af arbejde forbundet med  salget. Det er en udgift, som man selvfølgelig ikke oplever som en del  af prisen som sælger, men alle penge trækker ned i regnskabet for os.</Text>
</section>

<section class="flex flex-col gap-3 mt-5">
<Heading weight="bold">Hvis man er utilfreds med tilbuddet</Heading>
<Text>-  Man er velkommen til takke nej til et bud, men lad venligst være med  at blive fornærmet. Vi er ikke en hæveautomat, hvor man kan forvente at  få hvad man har lyst til, men man kan lave arbejdet selv og sælge på  egen hånd.</Text>
</section>

<section class="flex flex-col gap-3 mt-5">
<Heading weight="bold">Vores holdninger omkring anmeldelser andgående at sælge hos os</Heading>
<Text>- Det er i øvrigt not cool at skrive en dårlig anmeldelse på baggrund af at man synes at vi tager røven på folk. Både hvis man har takket ja  eller nej til et bud.</Text>
</section>

<section class="flex flex-col gap-3 mt-5">
<Heading weight="bold">Mulighed for salg online</Heading>
<Text>- Vi køber også af kunder, der sender til os. Ved forsendelse vil pengene dog først blive overført ved modtagelse og gennemsyn. Sælger betaler  for forsendelsen. Vi betaler feks. heller ikke benzinpenge eller  busbillet, hvis man vælger selv at komme forbi butikken med det, som man vil sælge.</Text>

<div class="flex flex-col gap-3" >
<Text>Forsendelsen skal være med tracking for at undgå miforståelser, hvis den skulle blive væk undervejs. </Text>
<Text>- Ved forsendelse skal følgende info bruges:</Text>
</div>

<div>
<Text>Nintendopusheren</Text>
<Text>Ydunsgade 4-6, kælderen</Text>
<Text>2200 Kbh N</Text>
<Text>Telefon: 60 57 12 82</Text>
<Text>E-mail: kontakt@nintendopusheren.dk</Text>
</div>


<Text>Vi glæder os til at handle med dig :)</Text>
</section>

</MainLayout>