---
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
<Heading>Kom I kontakt med os</Heading>
<Text>Der er forskellige måder at kontakte os på!</Text>

<div class="flex flex-col gap-2 mt-4">
<Heading>Kom ned i butikken!</Heading>
<Text>Ydunsgade 4-6, kælderen</Text>
<Text>2200 Kbh N</Text>
</div>

<div class="flex flex-col gap-2 mt-5">
<Heading>Giv os et opkald</Heading>
<Text>Telefon: 60 57 12 82</Text>
</div>

<div class="flex flex-col gap-2 mt-5">
<Heading>Smid os en mail</Heading>
<Text>E-mail: kontakt@nintendopusheren.dk</Text>
</div>