---
import Text from "./Text.astro";
import Heading from "./Heading.astro";
---

<section class="flex place-content-between w-full mb-4">
  <a href="/" class="mt-auto">
    <img src="/img/logo.png" alt="Logo" class="max-w-50 h-auto mt-auto" />
  </a>
  <div class="flex flex-col place-content-between w-full">
    <div
      class="flex place-content-center flex-wrap justify-self-center gap-5 pb-5"
    >
      <Text color="secondary" weight="bold"
        >Zelda: Breath of the wild midnight release</Text
      >
      <Text color="secondary" weight="bold"
        >Yoshi and the Mysterious book midnight opening</Text
      >
      <Text color="secondary" weight="bold">DM i Tetris 2026</Text>
      <Text color="secondary" weight="bold">Nintendo Switch 2 release</Text>
    </div>

    <div class="px-10 w-full">
      <div class="grid grid-cols-5 w-full border border-black items-stretch">
        <a
          href="Om_Nintendopusheren"
          class="grid_block flex justify-center items-center p-3 min-h-16 border-r border-b border-black"
        >
          <Text
            size="small"
            weight="bold"
            color="secondary"
            stylingclasses="text-center">Om Nintendopusheren</Text
          >
        </a>
        <a
          href="/butikken"
          class="grid_block flex justify-center items-center p-3 min-h-16 border-r border-b border-black"
        >
          <Text
            size="small"
            weight="bold"
            color="secondary"
            stylingclasses="text-center">Butikken</Text
          >
        </a>
        <a
          href="/wip"
          class="grid_block flex justify-center items-center p-3 min-h-16 border-r border-b border-black"
        >
          <Text
            size="small"
            weight="bold"
            color="secondary"
            stylingclasses="text-center">Reperationer</Text
          >
        </a>
        <a
          href="/buying"
          class="grid_block flex justify-center items-center p-3 min-h-16 border-r border-b border-black"
        >
          <Text
            size="small"
            weight="bold"
            color="secondary"
            stylingclasses="text-center">Indkøb fra private</Text
          >
        </a>
        <a
          href="/Om_Nintendopusheren"
          class="grid_block flex justify-center items-center p-3 min-h-16 border-b border-black"
        >
          <Text
            size="small"
            weight="bold"
            color="secondary"
            stylingclasses="text-center">Shipping outside <br /> Denmark</Text
          >
        </a>

        <a
          href="kids"
          class="grid_block flex justify-center items-center p-3 min-h-16 border-r border-black"
        >
          <Text
            size="small"
            weight="bold"
            color="secondary"
            stylingclasses="text-center">Spil til børn</Text
          >
        </a>
        <a
          href="/wip"
          class="grid_block flex justify-center items-center p-3 min-h-16 border-r border-black"
        >
          <Text
            size="small"
            weight="bold"
            color="secondary"
            stylingclasses="text-center">Information</Text
          >
        </a>
        <a
          href="weekly"
          class="grid_block flex justify-center items-center p-3 min-h-16 border-r border-black"
        >
          <Text
            size="small"
            weight="bold"
            color="secondary"
            stylingclasses="text-center">Ugens nye varer</Text
          >
        </a>
        <a
          href="adresse"
          class="grid_block flex justify-center items-center p-3 min-h-16 border-r border-black"
        >
          <Text
            size="small"
            weight="bold"
            color="secondary"
            stylingclasses="text-center">Åbningstider og adresse</Text
          >
        </a>
        <a
          href="kontakt"
          class="grid_block flex justify-center items-center p-3 min-h-16"
        >
          <Text
            size="small"
            weight="bold"
            color="secondary"
            stylingclasses="text-center">Kontakt</Text
          >
        </a>
      </div>
    </div>
  </div>
  <a href="adresse" class="mt-auto">
<img src="/img/time.png" alt="Logo" class="max-w-50 h-auto mt-auto" />
  </a>
</section>

<style>
  .grid_block {
    background: var(--cta-background);
  }
</style>
