---
import '../styles/tailwind.css';
import Text from './Text.astro';

// url and key to supabase/database
const url = "https://hrhpfuamvbbfvfhfchbv.supabase.co/rest/v1/";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhyaHBmdWFtdmJiZnZmaGZjaGJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3ODA5OTMsImV4cCI6MjA5NTM1Njk5M30.pDuU-_jF2L-ehWC0LVdEd8wuTOJprqtwgGcygfZN-zE";

const options = {
  headers: {
    apikey: key,
  },
};

// fetch data
const data = await fetch(url, options).then((res) => {
  return res.json();
});

---

<section class="category_section min-w-50 translate-z-2">
<div class="flex flex-col category">
    <div id="Diverse" class="active_category flex flex-row place-content-between items-center h-20 px-2 hover-pointer">
        <img src="/icons/menu.svg" alt="Menu icon">
    <Text color="white">Diverse</Text>
    <img src="/icons/arrow_up.svg" alt="Arrow up icon">
    </div>

  <div id="Diverse_list" class="flex flex-col gap-3 mb-3">
    <a class="category-cta category category_btn min-h-10 place-content-center" href="wip"="/nintendobonus">
        <Text class="ml-2">Gratis* Nintendo-bonus</Text>
    </a>

    <a class="category-cta category category_btn min-h-10 place-content-center" href="wip"="/playstation">
        <Text class="ml-2">%TILBUD%</Text>
    </a>

    <a class="category-cta category category_btn min-h-10 place-content-center" href="wip"="/xbox">
        <Text class="ml-2">Sværd og Trolddom/Blod & Stål (WIP)</Text>
    </a>

    <a class="category-cta category category_btn min-h-10 place-content-center" href="wip"="/Diverse/nes">
        <Text class="ml-2">Fordubestllinger / <br> Pre-order (WIP)</Text>
    </a>

    <a class="category-cta category category_btn min-h-10 place-content-center" href="wip"="/Diverse/nes">
        <Text class="ml-2">Sealed spil (WIP)</Text>
    </a>

    <a class="category-cta category category_btn min-h-10 place-content-center" href="wip"="">
        <Text class="ml-2">Steelbooks (WIP)</Text>
    </a>

    <a class="category-cta category category_btn min-h-10 place-content-center" href="wip"="/Diverse/nes">
        <Text class="ml-2">Nye merchandise (WIP)</Text>
    </a>

    <a class="category-cta category category_btn min-h-10 place-content-center" href="wip"="/Diverse/nes">
        <Text class="ml-2">Uden for kategori (WIP)</Text>
    </a>
    </div>
</div>

<div class="flex flex-col category category-cta-gap">
    <div id="physical_media" class="inactive_category flex flex-row place-content-between items-center h-20 px-2 hover-pointer">
        <img src="/icons/menu.svg" alt="Menu icon">
    <Text color="white">Film, bøger, osv</Text>
    <img src="/icons/arrow_up.svg" alt="Arrow up icon" class="inactive_arrow">
    </div>

    <div id="physical_media_list" class="hidden flex flex-col">
<a class="category-cta category category_btn min-h-10 flex" href="wip"="">
    <Text class="ml-2">Disney Infinite (WIP)</Text>
    </a>
    </div>
</div>

<div class="flex flex-col category category-cta-gap">
    <div id="nintendopusheren" class="inactive_category flex flex-row place-content-between items-center h-20 px-2 hover-pointer">
        <img src="/icons/menu.svg" alt="Menu icon">
    <Text color="white">Nintendopusheren</Text>
    <img src="/icons/arrow_up.svg" alt="Arrow up icon" class="inactive_arrow">
    </div>

    <div id="nintendopusheren_list" class="hidden flex flex-col">
    <a class="category-cta category category_btn min-h-10 flex" href="wip"="wip"="/Diverse/nes">
        <Text class="ml-2">Gavekort (WIP)</Text>
    </a>

    <a class="category-cta category category_btn min-h-10 flex" href="wip"="wip"="/Diverse/nes">
    <Text class="ml-2">Nintendopusheren merch (WIP)</Text>
    </a>
    </div>
</div>


</section>

<style>

    .active_category {
        background-color: var(--cta-background-active);
        cursor: pointer;
    }

    .inactive_category {
        background-color: var(--cta-background-inactive);
        cursor: pointer;
    }

    .inactive_arrow {
        transform: rotate(90deg);
    }

    /* .category{
        outline: 2px solid black;
    }

    .category_btn {
        outline: 2px solid black;
        background: var(--cta-background);
        font-color: var(--cta-text-secondary);
    } */

</style>

<script is:inline>
    const DiverseBtn = document.querySelector('#Diverse');
    const physicalMediaBtn = document.querySelector('#physical_media');
    const nintendopusherenBtn = document.querySelector('#nintendopusheren');
    const DiverseList = document.querySelector('#Diverse_list');
    const physicalMediaList = document.querySelector('#physical_media_list');
    const nintendopusherenList = document.querySelector('#nintendopusheren_list');

    // Restore menu states from sessionStorage on page load
    function restoreMenuStates() {
        const DiverseState = sessionStorage.getItem('Diverse_active');
        const physicalMediaState = sessionStorage.getItem('physical_media_active');
        const nintendopusherenState = sessionStorage.getItem('nintendopusheren_active');

        if (DiverseState === 'false') {
            DiverseBtn.classList.remove('active_category');
            DiverseBtn.classList.add('inactive_category');
            DiverseList.classList.add('hidden');
            DiverseList.classList.remove('flex');
            const arrow = DiverseBtn.querySelector('img:last-child');
            if (arrow) arrow.classList.add('inactive_arrow');
        }

        if (physicalMediaState === 'true') {
            physicalMediaBtn.classList.remove('inactive_category');
            physicalMediaBtn.classList.add('active_category');
            physicalMediaList.classList.remove('hidden');
            physicalMediaList.classList.add('flex');
            const arrow = physicalMediaBtn.querySelector('img:last-child');
            if (arrow) arrow.classList.remove('inactive_arrow');
        }

        if (nintendopusherenState === 'true') {
            nintendopusherenBtn.classList.remove('inactive_category');
            nintendopusherenBtn.classList.add('active_category');
            nintendopusherenList.classList.remove('hidden');
            nintendopusherenList.classList.add('flex');
            const arrow = nintendopusherenBtn.querySelector('img:last-child');
            if (arrow) arrow.classList.remove('inactive_arrow');
        }
    }

    function setupCategoryToggle(btnElement, listElement, storageKey) {
        btnElement.addEventListener('click', () => {
            const isActive = btnElement.classList.contains('active_category');
            
            if (isActive) {
                btnElement.classList.remove('active_category');
                btnElement.classList.add('inactive_category');
            } else {
                btnElement.classList.remove('inactive_category');
                btnElement.classList.add('active_category');
            }

            // Toggle both hidden and flex together
            listElement.classList.toggle('hidden');
            listElement.classList.toggle('flex');

            const arrow = btnElement.querySelector('img:last-child');
            if (arrow) arrow.classList.toggle('inactive_arrow');

            sessionStorage.setItem(storageKey, !isActive);
        });
    }

    // Restore menu states on page load
    restoreMenuStates();

    setupCategoryToggle(DiverseBtn, DiverseList, 'Diverse_active');
    setupCategoryToggle(physicalMediaBtn, physicalMediaList, 'physical_media_active');
    setupCategoryToggle(nintendopusherenBtn, nintendopusherenList, 'nintendopusheren_active');
</script>