---
import '../styles/tailwind.css';

// url and key to supabase/database
const url = "https://hrhpfuamvbbfvfhfchbv.supabase.co/rest/v1/";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhyaHBmdWFtdmJiZnZmaGZjaGJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3ODA5OTMsImV4cCI6MjA5NTM1Njk5M30.pDuU-_jF2L-ehWC0LVdEd8wuTOJprqtwgGcygfZN-zE";

const options = {
  headers: {
    apikey: key,
  },
};

// fetch data
const data = await fetch(url, options).then((res) => {
  return res.json();
});

---

<section class="category_section min-w-50 translate-z-2">
<div class="flex flex-col category">
    <div id="Diverse" class="active_category flex flex-row place-content-between items-center h-20 px-2 hover-pointer">
        <img src="/icons/menu.svg" alt="Menu icon">
    <p class="text-white">Diverse</p>
    <img src="/icons/arrow_up.svg" alt="Arrow up icon">
    </div>

  <div id="Diverse_list" class="flex flex-col">
    <a class="category category_btn min-h-10 place-content-center" href="wip"="/nintendobonus">
        <p class="ml-2">Gratis* Nintendo-bonus</p>
    </a>

    <a class="category category_btn min-h-10 place-content-center" href="wip"="/playstation">
        <p class="ml-2">%TILBUD%</p>
    </a>

    <a class="category category_btn min-h-10 place-content-center" href="wip"="/xbox">
        <p class="ml-2">Sværd og Trolddom/Blod & Stål (WIP)</p>
    </a>

    <a class="category category_btn min-h-10 place-content-center" href="wip"="/Diverse/nes">
        <p class="ml-2">Fordubestllinger / <br> Pre-order (WIP)</p>
    </a>

    <a class="category category_btn min-h-10 place-content-center" href="wip"="/Diverse/nes">
        <p class="ml-2">Sealed spil (WIP)</p>
    </a>

    <a class="category category_btn min-h-10 place-content-center" href="wip"="">
        <p class="ml-2">Steelbooks (WIP)</p>
    </a>

    <a class="category category_btn min-h-10 place-content-center" href="wip"="/Diverse/nes">
        <p class="ml-2">Nye merchandise (WIP)</p>
    </a>

    <a class="category category_btn min-h-10 place-content-center" href="wip"="/Diverse/nes">
        <p class="ml-2">Uden for kategori (WIP)</p>
    </a>
    </div>
</div>

<div class="flex flex-col category">
    <div id="physical_media" class="inactive_category outline-b outline-2 flex flex-row place-content-between items-center h-20 px-2 hover-pointer">
        <img src="/icons/menu.svg" alt="Menu icon">
    <p class="text-white">Film, bøger, osv</p>
    <img src="/icons/arrow_up.svg" alt="Arrow up icon" class="inactive_arrow">
    </div>

    <div id="physical_media_list" class="hidden w-full flex-col">
<a class="category category_btn min-h-10 flex w-full" href="wip"="">
    <p class="ml-2">Disney Infinite (WIP)</p>
    </a>
    </div>
</div>

<div class="flex flex-col category">
    <div id="nintendopusheren" class="inactive_category outline-b outline-2 flex flex-row place-content-between items-center h-20 px-2 hover-pointer">
        <img src="/icons/menu.svg" alt="Menu icon">
    <p class="text-white">Nintendopusheren</p>
    <img src="/icons/arrow_up.svg" alt="Arrow up icon" class="inactive_arrow">
    </div>

    <div id="nintendopusheren_list" class="hidden w-full flex-col">
    <a class="category category_btn min-h-10 place-content-center w-full" href="wip"="wip"="/Diverse/nes">
        <p class="ml-2">Gavekort (WIP)</p>
    </a>

    <a class="category category_btn min-h-10 place-content-center w-full" href="wip"="wip"="/Diverse/nes">
    <p class="ml-2">Nintendopusheren merch (WIP)</p>
    </a>
    </div>
</div>


</section>

<style>

    .active_category {
        background-color: var(--cta-background-active);
        cursor: pointer;
    }

    .inactive_category {
        background-color: var(--cta-background-inactive);
        cursor: pointer;
    }

    .inactive_arrow {
        transform: rotate(90deg);
    }

    .category{
        outline: 2px solid black;
    }

    .category_btn {
        outline: 2px solid black;
        background: var(--cta-background);
        font-color: var(--cta-text-secondary);
    }

</style>

<script is:inline>
    const DiverseBtn = document.querySelector('#Diverse');
    const physicalMediaBtn = document.querySelector('#physical_media');
    const nintendopusherenBtn = document.querySelector('#nintendopusheren');
    const DiverseList = document.querySelector('#Diverse_list');
    const physicalMediaList = document.querySelector('#physical_media_list');
    const nintendopusherenList = document.querySelector('#nintendopusheren_list');

    // Restore menu states from sessionStorage on page load
    function restoreMenuStates() {
        const DiverseState = sessionStorage.getItem('Diverse_active');
        const physicalMediaState = sessionStorage.getItem('physical_media_active');
        const nintendopusherenState = sessionStorage.getItem('nintendopusheren _active');

        if (DiverseState === 'false') {
            DiverseBtn.classList.remove('active_category');
            DiverseBtn.classList.add('inactive_category');
            DiverseList.classList.add('hidden');
            const arrow = DiverseBtn.querySelector('img:last-child');
            if (arrow) arrow.classList.add('inactive_arrow');
        }

if (physicalMediaState === 'true') {
    physicalMediaBtn.classList.remove('inactive_category');
    physicalMediaBtn.classList.add('active_category');
    physicalMediaList.classList.remove('hidden');
    physicalMediaList.classList.add('flex');  // ← add this
    const arrow = physicalMediaBtn.querySelector('img:last-child');
    if (arrow) arrow.classList.remove('inactive_arrow');
}

        if (nintendopusherenState === 'true') {
            nintendopusherenBtn.classList.remove('inactive_category');
            nintendopusherenBtn.classList.add('active_category');
            nintendopusherenList.classList.remove('hidden');
            const arrow = nintendopusherenBtn.querySelector('img:last-child');
            if (arrow) arrow.classList.remove('inactive_arrow');
        }
    }

    function setupCategoryToggle(btnElement, listElement, storageKey) {
    btnElement.addEventListener('click', () => {
        const isActive = btnElement.classList.contains('active_category');
        
        if (isActive) {
            btnElement.classList.remove('active_category');
            btnElement.classList.add('inactive_category');
        } else {
            btnElement.classList.remove('inactive_category');
            btnElement.classList.add('active_category');
        }

        // Toggle both hidden and flex together
        listElement.classList.toggle('hidden');
        listElement.classList.toggle('flex');  // ← add this

        const arrow = btnElement.querySelector('img:last-child');
        if (arrow) arrow.classList.toggle('inactive_arrow');

        sessionStorage.setItem(storageKey, !isActive);
    });
}

    // Restore menu states on page load
    restoreMenuStates();

    setupCategoryToggle(DiverseBtn, DiverseList, 'Diverse_active');
    setupCategoryToggle(physicalMediaBtn, physicalMediaList, 'physical_media_active');
    setupCategoryToggle(nintendopusherenBtn, nintendopusherenList, 'nintendopusheren_active');
</script>